In [3]:
# pip install -U spacy
# python -m spacy download en
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report,confusion_matrix
label_data=pd.read_csv('label.txt',sep='\t',header=None)

In [4]:
label_data.head()

                                                   0  1
0                           Wow... Loved this place.  1
1                                 Crust is not good.  0
2          Not tasty and the texture was just nasty.  0
3  Stopped by during the late May bank holiday of...  1
4  The selection on the menu was great and so wer...  1

In [6]:
nameColumn=['review','sentiment analysis']
label_data.columns=nameColumn
label_data.head()

                                              review  sentiment analysis
0                           Wow... Loved this place.                   1
1                                 Crust is not good.                   0
2          Not tasty and the texture was just nasty.                   0
3  Stopped by during the late May bank holiday of...                   1
4  The selection on the menu was great and so wer...                   1

In [9]:
shop1=pd.read_csv('shop1_review.txt',sep='\t',header=None)
shop1.column=nameColumn
shop1.head()

C:\Users\ruchita\anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

                                                   0    1
0  So there is no way for me to plug it in here i...  0.0
1                        Good case, Excellent value.  1.0
2                             Great for the jawbone.  1.0
3  Tied to charger for conversations lasting more...  0.0
4                                  The mic is great.  1.0

In [10]:
shop2=pd.read_csv('shop2_review.txt',sep='\t',header=None)
shop2.column=nameColumn
shop2.head()

C:\Users\ruchita\anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

                                                   0  1
0  A very, very, very slow-moving, aimless movie ...  0
1  Not sure who was more lost - the flat characte...  0
2  Attempting artiness with black & white and cle...  0
3       Very little music or anything to speak of.    0
4  The best scene in the movie was when Gerardo i...  1

In [11]:
data=label_data.append([shop1,shop2],ignore_index=None)

In [12]:
data.head()

,0,1,review,sentiment analysis
0,NaN,NaN,Wow... Loved this place.,1.0
1,NaN,NaN,Crust is not good.,0.0
2,NaN,NaN,Not tasty and the texture was just nasty.,0.0
3,NaN,NaN,Stopped by during the late May bank holiday of...,1.0
4,NaN,NaN,The selection on the menu was great and so wer...,1.0

In [16]:
data['sentiment analysis'].value_counts()

0.0    500
1.0    500
Name: sentiment analysis, dtype: int64